.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.cardDetail {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 10px;
  margin: 0;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2rem;
  background-color: #1C7C54;
  color: white;
  height: auto !important;
}

.title {
  font-size: 30px;
  margin-bottom: 10px;
  font-style: italic;
}

.dataDetail {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1rem;
}

.info {
  font-size: 24px;
  font-style: normal;
  margin-bottom: 5px;
}

.temperaments {
  font-size: 18px;
  margin-top: 18px;
  font-weight: 400;
}

.spinner {
  width: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.link {
  margin-top: 20px;
  text-decoration: none;
  color: blue;
}