.cardContainer {
  background-color: #1C7C54;
  padding: 10px 0;
  border-radius: 10px;
  width: 350px;
  height: 480px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: white !important;
  text-decoration: none;
  }
  
  .cardTitle {
    font-size: 22px;
    color: #DDF1CF;
    margin-bottom: 8px;
  }
  
  .cardImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 8px;
  }
  
  .cardText {
    font-size: 16px;
    color: white;
  }

  